### Type Casting:

- Change one data type to another data type
- Int--->float
- int---->string
- abydata type to any datatype

**Integer to other datatypes**

In [6]:
n1=100
n1

100

In [18]:
#case 1 int to float 
float_number=float(n1)
float_number

100.0

In [20]:
 type(float_number)

float

In [24]:
n=100
n

100

In [26]:
type(n)

int

In [30]:
str_1=str(n)
str_1

'100'

In [32]:
type(str_1)

str

In [36]:
#integer to boolean
a=100
boolean_n=bool(a)
boolean_n

True

In [38]:
type(boolean_n)

bool

In [44]:
#complex if 100 is provided
a=50
cmpl_1=complex(a)
cmpl_1

(50+0j)

**string to other data types**

In [49]:
string_value='apple'
int(string_value)
#we willget error if we try to change char into mathmathecal numbers

ValueError: invalid literal for int() with base 10: 'apple'

In [51]:
#it will only work in boolean
string="hello" #true because we have provided something but if we left the quotation mark emptyit will give 0 meaning false 
a=bool(string)
a

True

In [57]:
a=True
b=str(a)
b

'True'

In [59]:
v=100+0j

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'